.centered-content {
	width: 800px;
	margin: 0 auto;
}

.tabs-nav {
	display: flex;
	justify-content: space-between;
}

.tabs-title__item {
padding: 20px;

border-bottom: 1px solid transparent;
cursor: pointer;
flex: 1;
}

.tabs-title__item.active {
	background-color: coral;
	
}
.tab {
	display: none;
	padding: 20px;
	background-color: rgb(200, 226, 226);
}
.tab.active {
	display: block;
}